<div
  class="offcanvas offcanvas-start bg-primary text-white"
  tabindex="-1"
  id="sideNavbar"
  aria-labelledby="sideNavbarLabel"
>
  <div class="offcanvas-header">
    <h3>Bajaj-ECommerce</h3>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sideNavbarLabel">Menu</h5>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link text-white" href="#">All Products</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="#">Top Rated</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="#">New Arrivals</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="#">On Sale</a></li>
    </ul>
  </div>
</div>
