<div id="promoCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="slide-item bg-yellow">
        <h2>Black Friday Sale</h2>
      </div>
    </div>

    <div class="carousel-item">
      <div class="slide-item bg-blue">
        <h2>Halloween Sale</h2>
      </div>
    </div>

    <div class="carousel-item">
      <div class="slide-item bg-green">
        <h2>Diwali Sale</h2>
      </div>
    </div>

    <div class="carousel-item">
      <div class="slide-item bg-red">
        <h2>Christmas Sale</h2>
      </div>
    </div>

  </div>

  <!-- Carousel controls -->
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>
